.panel {
  margin: 50px auto;
  width: 500px;
  background-color: cadetblue;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.buttonsDigitsContainer {
  width: 240px;
  margin: 0 auto 10px auto;
  text-align: center;
}
